.details-container-img {
  img {
    max-width: 423px;
    max-height: 634px;
    margin-right: 3rem;
    display: block;
    box-shadow: rgba(rgb(196, 45, 45), 0.1) 0px 30px 100px,
      rgba(rgb(255, 255, 255), 0.22) 0px 15px 100px;
  }
}
