@import "../../scss/colors";
@import "../../scss/fonts";

.details-content {
  flex: 0.7;
  position: relative;

  @media (max-width: 1600px) {
    flex: 1;
  }

  &-title-providers {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 900px) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 2rem;
    }
  }

  &-title {
    margin-bottom: 1.3rem;
    font-size: 5rem;

    @media (max-width: 1092px) {
      font-size: 4rem;
      line-height: 4rem;
    }

    @media (max-width: 750px) {
      font-size: 3rem;
      line-height: 4rem;
    }
  }

  &-desc {
    margin-bottom: 6rem;
    font-size: 1.6rem;

    @media (max-width: 1092px) {
      margin-bottom: 4rem;
      font-size: 1.4rem;
    }

    @media (max-width: 750px) {
      margin-bottom: 4rem;
      font-size: 1.6rem;
    }

    @media (max-width: 480px) {
      margin-bottom: 4rem;
      font-size: 1.4rem;
    }
  }
}
