@import "../../scss/colors";
@import "../../scss/fonts";

.details-content-info {
  display: flex;
  align-items: center;
  grid-gap: 1.5rem;
  font-size: 1.6rem;
  letter-spacing: 1px;
  margin-bottom: 1.4rem;
  line-height: 0;

  @media (max-width: 1400px) {
    font-size: 1.2rem;
  }

  @media (max-width: 1092px) {
    font-size: 1.1rem;
    flex-wrap: wrap;
  }

  @media (max-width: 900px) {
    display: none;
  }

  &-rating {
    display: flex;
  }

  &-country {
    img {
      height: 16px;
      width: 24px;
    }
  }
}
