@import "../../scss/colors";
@import "../../scss/fonts";

.may-also-like-container {
  position: relative;
  margin-top: 2rem;

  @media (max-width: 1300px) {
    width: 100%;
  }

  h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 127px;
    padding: 1rem;
    background-color: $color-white;
    border: none;
    border-radius: 10px;
    transition: 0.2s;

    &:hover {
      background-color: rgba($color-white, 0.7);
    }
  }

  &-btn-icon {
    font-size: 2.6rem;
  }

  &-btn-left {
    left: -73px;

    @media (max-width: 1300px) {
      left: -23px;
    }

    @media (max-width: 750px) {
      left: -10px;
    }
  }

  &-btn-right {
    right: -73px;

    @media (max-width: 1300px) {
      right: -23px;
    }

    @media (max-width: 750px) {
      right: -10px;
    }
  }
}

.may-also-like {
  overflow-x: scroll;
  margin-top: 1rem;
  scrollbar-width: none;

  &-suggestions {
    display: flex;

    .movie-card {
      margin-bottom: 1.5rem;
      margin-right: 1.5rem;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-track {
    margin-block: 0.3em;
  }

  &::-webkit-scrollbar-thumb {
    height: 30px;
    width: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: $color-blue;
    background-color: $color-red;
    border-radius: 10px;

    &:active {
      background-color: $color-blue-hover;
      background-color: $color-red-hover;
    }
  }
}
