.movie-card {
  // width: 164px;
  width: 133px;
  overflow: hidden;
  transition: 0.2s;

  &:hover {
    // transform: scale(1.1);
  }

  &-img {
    // height: 246px;
    // width: 144px;
    height: 199px;
    width: 133px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    overflow: hidden;

    img {
      border-radius: 5px;
      width: 100%;
      height: 100%;
      transition: 0.2s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &-title {
    display: flex;
    align-items: center;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 0.6rem;
  }

  &-year {
    display: flex;
    align-items: center;
    letter-spacing: 1.4px;
    color: #999;
  }
}
