@import "../../../scss/colors";

.trailer-modal {
  background-color: rgba(0, 0, 0, 0.95);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 12;
  display: none;

  &.modalActive {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 480px) {
      align-items: flex-start;
    }
  }

  &-close-icon {
    position: absolute;
    top: 100px;
    right: 10rem;
    font-size: 5rem;
    color: $color-white;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba($color-white, 0.3) 0px 30px 60px -30px;

    @media (max-width: 900px) {
      top: 12rem;
      right: 1rem;
    }
  }
}
