@import "../../../scss/colors";
@import "../../../scss/fonts";

.search-dropdown-menu {
  display: none;
  position: absolute;
  top: 2.4rem;
  width: 100%;
  margin-left: -0.7rem;
  background-color: blue;
  background-color: rgba($color-white, 0.9);
  list-style: none;

  &-item {
    padding-left: 0.7rem;
    text-align: left;
    &:hover {
      color: $color-white;
      background-color: $color-blue;
    }
  }

  &.form-btn-active {
    display: block;
  }
}
