@import "../../../scss/colors";

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;

  @media (max-width: 810px) {
    padding: 1rem 4rem;
  }

  @media (max-width: 480px) {
    padding: 1rem 2rem;
  }

  @media (max-width: 350px) {
    padding-top: 0.2rem;
  }

  &-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 900px) {
      width: 100%;
    }

    @media (max-width: 350px) {
      justify-content: center;
      flex-direction: column;
    }
  }
}
