@import "../../scss/colors";
@import "../../scss/fonts";

.browse-genre {
  padding: 1.1rem;
}

.browse-genre-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 133px);
  grid-gap: 1rem;
}