.browse {
  padding: 1.1rem;

  @media (max-width: 900px) {
    padding-top: 2rem;
  }

  @media (max-width: 480px) {
    padding: 3rem;
  }
}

.browse-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 133px);
  grid-gap: 1rem;
  gap: 1rem;

  @media (max-width: 900px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2.5rem;
    column-gap: 2.5rem;
    row-gap: 2rem;
  }

  @media (max-width: 480px) {
    column-gap: 4rem;
  }

  @media (max-width: 350px) {
    column-gap: 2.5rem;
  }
}
