@import "../../../scss/colors";

.mobile-genre-sub-menu {
  display: none;
  height: 300px;
  list-style: none;
  background-color: #152564;
  overflow-y: scroll;

  &.activeItem {
    display: block;
  }

  &-item {
    padding: 0.5rem 0rem;
    padding-left: 1rem;
    font-size: 1.2rem;
    text-align: center;
    border-bottom: 1px solid $color-white;

    &:hover {
      background-color: rgba($color-white, 0.7);

      a {
        display: block;
        color: black;
      }
    }
  }
}
