@import "../../scss/colors";

.spinner-container {
  width: 7rem;
  height: 7rem;
  margin: 2rem;
  border-radius: 50%;
  border: 0.3rem solid rgba($color-nav-btn-hover, 0.3);
  border-top-color: $color-nav-btn-hover;
  animation: 1.5s spin infinite linear;
  border-bottom-color: $color-nav-btn-hover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
