@import "../../scss/colors";

.header {
  background-color: $color-theme-bg-color;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  position: relative;
  z-index: 10;

  &-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem 0;
    font-size: 1.2rem;

    span {
      margin-right: 0.7rem;
    }

    img {
      width: 1.6rem;
      position: relative;
      top: 3px;
    }
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;

  // &-menu {
  //   display: flex;
  // }

  &-menu-list {
    list-style: none;
    display: flex;

    &-item {
      border-bottom: 5px solid transparent;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 2px;
      transition: 0.2s ease;
      margin-right: 1rem;
      font-size: 1.2rem;
      font-weight: 500;
      letter-spacing: 1.1px;
      padding: 0.5rem 0.5rem;
      margin-right: 3rem;
      cursor: pointer;

      &:hover,
      &.activeItem {
        border-bottom: 3px solid $color-nav-btn-hover;
      }
    }
  }

  &-settings {
    display: flex;
    align-items: center;

    &-icon {
      margin-left: 1.3rem;
      font-size: 1.9rem;
      color: #aaa;
      cursor: pointer;
      transition: 0.2s;

      &:first-child {
        color: #cd3538;

        &:hover {
          color: rgb(167, 25, 27);
        }
      }

      &:hover {
        color: $color-nav-btn-hover;
      }
    }

    .icon-search,
    .icon-folder {
      font-size: 2.3rem;
    }

    .icon-drawer {
      font-size: 2.2rem;
      padding-bottom: 0.6rem;
    }
  }
}
